{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>MyNewFriend</title>{% endblock %}
  <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  {% comment %} <link rel="stylesheet" href="{% static 'css/all.min.css' %}"> {% endcomment %}
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {%block cabecalho%}{%endblock%}
</head>
<body class = "bkgColor">
    <header>
        <div class = "logo">
            <img class = "icone" src ="{% static "assets/icon.svg" %}">
            <h1 class = "titulo primary-color">MyNewFriend</h1>
        </div>
    </header>  
  {% block content %}{% endblock content %}
</body>
</html>